.Sb{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 95vh;
    background-image:linear-gradient(#4b4b4ba1,#000000ab), url('https://images.pexels.com/photos/1907785/pexels-photo-1907785.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    object-fit: cover;
    /* background-repeat: no-repeat; */
    border-radius: 10px;
}
.Sb .sbImg{
    width: 70%;
    height: 240px;
}
.Sb .Sbcard{
    position: relative;
}
.Sb .sbClose{
    position: absolute;
    width: 1.25rem;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.Sb .sbBody{
    text-align: center;
    height: 230px;
    font-size: .87rem;
}
.Sb .sbTitle{
    font-size: 1.2rem;
    font-weight: 600;
    color: #000000d5;
}
.sb_container .sb_text{
    color: #fff;

}
.closeTextBtn{
    cursor: pointer;
    font-weight: 600;
    font-size: 1.14rem;
    color: #888;
    text-align: center;
}

.actions .actionBtn{
    color: #ffffffe1;
    cursor: pointer;
    background-color: #0d6efd;
    font-size: 1.57rem;
    border-radius: 5px;
    transition: all 0.2s ease-in;
}
.actions .actionBtn:hover{
    color: #fff;
    background-color: #0261f0;
}